.env
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints/
**/.ipynb_checkpoints

# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.ipynb_checkpoints/
*.egg-info/
*.env
*.venv
.env/
.venv/



# VS Code and notebook-specific virtual files
.virtual_documents/
.vscode/
.ipynb_checkpoints/

# Virtual environments
pyspark-env/
myenv/
.env/
.venv/
pip-wheel-metadata/
dags_airflow_venv/

# Jupyter runtime
*.nbconvert.ipynb

# Ignore data files
*.csv
*.tsv
*.xls
*.xlsx
*.json
*.parquet
*.orc
*.avro
*.feather
*.h5
*.hdf5
*.sav
*.dta
*.svg

# Cloud / Platform Cache
outputs/
results/
.temp_kaggle
.kaggle/
.dvc/


# IDE/OS/Editor Files
.vscode/
.idea/
*.code-workspace
*.sublime-project
*.sublime-workspace
.DS_Store        # macOS
Thumbs.db        # Windows
desktop.ini      # Windows


# Temporary / Intermediate Files
*.log
*.tmp
*.bak
*.swp
*.~*
*.out
*.pid
*.old
*.orig

# Build / Distribution Files
build/
dist/
*.egg
*.whl
*.tar.gz
*.zip
*.dll
*.exe
*.so
*.dylib
